In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("dataset w7.csv")

In [3]:
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [5]:
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

# 1. Carry out descriptive analytics on the dataset.

In [6]:
data["Gender"].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [7]:
data["Test preparation"].value_counts()

none         21
completed     7
Name: Test preparation, dtype: int64

In [8]:
data.groupby('Gender')['Total Marks'].mean()

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [9]:
data.groupby('Test preparation')['Total Marks'].mean()

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

In [10]:
data["Total Marks"].std()

12.454520438984368

In [11]:
# There are 16 female and 12 male students in the  sample data
# out of 28 students only 7 students completed the test preparation
# the average mark of students who completed test preparation is greater than the students who doesn't completed test preparation
# the average marks of female students is greater than the average mark of male students

# 2. Check whether female and male students scored the same marks.

In [12]:
# H0 : Female and male students scored the same marks
# Ha : female and male students does not score the same marks

In [13]:
from scipy.stats import ttest_ind

In [14]:
male=data[data["Gender"]=="male"][['Total Marks']]
female=data[data["Gender"]=="female"][['Total Marks']]

In [15]:
alpha = 0.05

In [16]:
t_score,p_value=ttest_ind(female,male)
print('The test result is:', t_score, p_value)

The test result is: [0.69408853] [0.49378223]

In [17]:
if p_value>alpha:
    print("Failing to reject the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Failing to reject the Null Hypothesis

Based on the given data we are failing to reject the null hypothesis. 
We can conclude that female and male students scores the same marks.

# 3. Whether test preparation helps the students?

In [18]:
#H0 : Test preparation did not help the students
#Ha : Test preparation helped the students

In [19]:
tc=data[data["Test preparation"]=="completed"][["Total Marks"]]
tn=data[data["Test preparation"]=="none"][["Total Marks"]]

In [20]:
t_score,p_value=ttest_ind(tc,tn)
print('The test result is:', t_score, p_value)

The test result is: [3.61436375] [0.00126713]

In [21]:
if (p_value>alpha):
    print("Failing to reject the Null Hypothesis")
else:
    print("Rejecting the Null Hypothesis")

Rejecting the Null Hypothesis

Based on this we are rejecting the null hypothesis. we can conclude that the test preparation helped the students to score high marks